<cv-header />

<!-- App is contained within a single page for time's sake, could have used routing to split components into separate pages -->

<h1 style="margin-top: 20px">Career Profile</h1>
<career-profile/>

<h1 style="margin-top: 20px">Skills</h1>
<skills style="width: 75%; margin: auto; display: block;"/>

<h1 style="margin-top: 100px">Projects</h1>
<hex-collection style="display:flex; justify-content:center;" />

<h1 style="margin-top: 200px; margin-bottom: 50px">Work Experience & Education</h1>
<timeline style="display: flex; justify-content: center;"></timeline>

<h1 style="margin-top: 100px; margin-bottom: 50px">References available upon request</h1>
