<div *ngFor="let skillCat of skillCats" style="margin-bottom: 80px; margin-top: 20px">
  <h3>{{skillCat.category}}</h3>
  <div class="skill-container">
    <div class="skill-card" *ngFor="let skill of skillCat.skills">
      <h4>{{skill.name}}</h4>

      <img src="/assets/images/{{skill.image}}" />

    <ngb-progressbar type="success"
                     [value]="getSkillYears(skill)"
                     [animated]="true"
                     height="2rem">
      {{ skill.years }} years
    </ngb-progressbar>
  </div>
</div>
