<div *ngFor="let skillCat of skillCats">
  <h3>{{skillCat.category}}</h3>
  <div class="skill-container">
    <div class="skill-card" *ngFor="let skill of skillCat.skills">
      <h4>{{skill.name}}</h4>
      <!--<div class="progress">
        <div class="progress-bar" role="progressbar" [style.width]="skill.years * 12.5 + '%'" aria-valuenow="2" aria-valuemin="0" aria-valuemax="8">{{skill.years}} years</div>
      </div>-->

      <img src="/assets/images/{{skill.image}}" />

    <ngb-progressbar type="success"
                     [value]="getSkillYears(skill)"
                     [animated]="true"
                     height="2rem">
      {{ skill.years }} years
    </ngb-progressbar>
  </div>
</div>
